
#Titulo {
    color: transparent;
    background: linear-gradient(to left, rgb(250, 11, 190), rgb(255, 102, 0));
    background-clip: text;
    display: inline;
    animation: animated 2 s linear infinite;
    
}

@keyframes animated {
    to{background-position-x: 150px;}
}

.perdon{
    color: white;
    background-color: black;
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px 10px;
}

.Burguers {
    border: 2px solid rgb(238, 11, 227);
    width: 300px;
    height: 300px;
    position: relative;
    left: 85px;
    overflow: hidden;    
}
